@model PostCommentsModel

@{
    ViewData["Title"] = "Comments";

    string[] controllers = { "Main", "Messages", "Groups", "Games", "Shop", "Settings" };
    string user = Model.user.Name;
    string image = Model.user.ImageReference;
}

<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/scripts/CommentsScriptFile.js" asp-append-version="true"></script>

<body>
    <link href="~/css/Navigation.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="/css/CommentsViewStyleSheet.css" asp-append-version="true" />
    <link href="~/css/BackgroundAnimationStyle.css" rel="stylesheet" asp-append-version="true" />

   <div class="bg"></div>
   <div class="bg bg2"></div>
   <div class="bg bg3"></div>
    <div class="Wrapper">
        <div class="Navigation">
            @foreach (string controller in controllers)
            {
                @using (Html.BeginForm(controller, "Home", FormMethod.Post))
                {
                    <input type="submit" class="Button" value=@controller />
                }
            }

            <div class="AdvertisementText">
                Advertisement
            </div>

            <div>
                <div class="AdvertisementImage">
                    <img src="~/Images/AdvertisementTest.png" />
                </div>
            </div>
        </div>

        <div class="Board">
            <div class="OverflowZone">
                <div>
                    @if (Model.post.ImageReference != null)
                    {
                        <div class="PostImageHeader"><img src="@Model.post.ImageReference" class="PostImage" /></div>
                    }
                    <br>
                    <div style="display: flex; align-items: center; flex-direction: row">
                        <img src="@Model.post.UserUser.ImageReference" class="UserImage" />
                        <label class="UserName"> @Model.post.UserUser.Name </label>
                        <label class="Time"> @Model.post.DatePosting.ToString("dd.MM.y HH:mm") </label>
                    </div>

                    <div>
                        <label class="PostedMessage"> @Model.post.Text </label>
                    </div>
                </div>

                <div id="comments">
                    @foreach (var comment in Model.post.Messages)
                    {
                        <div style="display: flex; align-items: center; flex-direction: row">
                            <img src="@Model.users.First(x=>x.UserId == comment.UserUserId).ImageReference" class="UserImage" />
                            <label class="UserName"> @Model.users.First(x => x.UserId == comment.UserUserId).Name </label>
                            <label class="Time"> @comment.DateSending.ToString("dd.MM.y HH:mm") </label>
                        </div>

                        <div>
                            <label class="PostedMessage"> @comment.Text </label>
                        </div>
                    }

                </div>
            </div>

            <div class="WriteZone">
                <div class="Line"></div>

                <div style="display: flex; align-items: center; flex-direction: row">
                    <img src="@Model.user.ImageReference" class="UserImage" id="currentUser" />
                    <input type="text" id="message" placeholder="Write message ..." class="MessageInput" />
                    <input type="submit" value="Comment" class="MessageButton" onClick="AddMessage()" />
                </div>
            </div>
        </div>
    </div>
</body>