@model FollowsViewModel

@{
    ViewData["Title"] = "Friends page";

    string[] controllers = { "Main", "Messages", "Groups", "Games", "Shop", "Settings" };

    string friendPage = "/Home/Followings";
    string usersPage = "/Home/UserList";
}

<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript"></script>
<script type="text/javascript" src="~/scripts/FollowsFormScripts.js" asp-append-version="true"></script>

<body>
    <link rel="stylesheet" href="~/css/FriendsViewStyleSheet.css" asp-append-version="true" />
    <link href="~/css/Navigation.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/BackgroundAnimationStyle.css" rel="stylesheet" asp-append-version="true" />
    
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="Wrapper">
        <div class="Navigation">
            @foreach (string controller in controllers)
            {
                @using (Html.BeginForm(controller, "Home", FormMethod.Post))
                {
                    <input type="submit" class="Button" value=@controller />
                }
            }
            @if (Model.user.IsAdmin == true)
            {
                @using (Html.BeginForm("Admin", "Home", FormMethod.Post))
                {
                    <input type="submit" class="Button" value="Admin" />
                }
            }
            <div class="AdvertisementText">
                Advertisement
            </div>

            <div>
                <div class="AdvertisementImage">
                    <img src="~/Images/AdvertisementTest.png" />
                </div>
            </div>
        </div>

        <div class="Board">
            <div class="SearchZone">
                <div style="display: flex; flex-direction: row; margin-top: 10px; background-color: #3485FF;">

                    <b> <label class="FriendsLabel"> @(Model.friendPage ? "Followings" : "All users") </label> </b>

                    <form method="post" action="@(Model.friendPage ? usersPage : friendPage)">
                        <button type="submit" name="id" value="@Model.executor" class="AddFriendButton">
                        <img class="AddFriendIcon" src="@(Model.friendPage ? "../Images/people.png" : "../Images/friends.png")"/>
                        </button>
                    </form>

                    <form action="SearchFriend">
                        <div style="position: relative;">
                            <input type="text" name="name" class="Search" placeholder="Search" />
                            <img src="~/Images/glass-icon.png" class="SearchImage" />
                        </div>
                    </form>

                </div>

                <div class="Line"></div>


                <div class="FriendZone">
                    <div>
                        @foreach (var user in Model.friendPage ? Model.follows : Model.allUsers)
                        {
                            <div id="@user.Name" class="FriendLine" style="display: flex; align-items: center; flex-direction: row">
                                <form method="post" action="/Home/UserProfile">
                                    <button class="EnterUserProfile" type="submit" name="id" value="@user.Id">
                                        <img class="UserImage" src="@user.ImageReference" />
                                        <label class="Names"> @user.Name </label>
                                    </button>
                                </form>

                                <input type="submit" class="FriendButton" value="Write" />
                                @if (Model.executor == Model.user.Id)
                                {
                                    /*
                                        @if(Model.mainUserId == Model.user.Id) 
                                            {
                                                <input id="@user.Id" type="submit" class="FriendButton" value="Remove" onclick="DeleteFriend(this)" />
                                            }
                                            @*Write button does not work. When all formls will be ready it will get the link*@
                                            <input type="submit" class="FriendButton" value="Write" />
                                    */
                                    @if (Model.friendPage)
                                    {
                                        <input id="@user.Id" type="submit" class="FriendButton" value="Remove" onclick="DeleteFollow(this, true)" />
                                    }
                                    else
                                    {
                                        <input id="@user.Id" type="submit" class="FriendButton" value="@Model.IsFollowed(user.Id)" onclick="CheckAction(this)" />
                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
