<link href="~/css/MainFormStyleSheet.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/Navigation.css" rel="stylesheet" asp-append-version="true" />
<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/scripts/MainFormScripts.js" asp-append-version="true"></script>

@model Main
@{
    string[] controllers = { "Main", "Messages", "Groups", "Games", "Shop", "Settings" };
    string username = Model.user.Name;
    string description = Model.user.Description;
}

<body class="Background">
    <div class="Wrapper">
        <div class="Navigation">
            @foreach (string controller in controllers)
            {
                @using (Html.BeginForm(controller, "Home", FormMethod.Post))
                {
                    <input type="submit" class="Button" value=@controller />
                }
            }

            <div class="AdvertisementText">
                Advertisement
            </div>

            <div>
                <div class="AdvertisementImage">
                    <img src="~/Images/AdvertisementTest.png" />
                </div>
            </div>
        </div>

        <div class="AvatarAndFriends">
            <div class="UserImage">
                <img src="@Model.user.ImageReference" />
                <input type="submit" class="EditProfile" value="Edit profile" />
            </div>
            <div class="Friends">
                <label style="font-size: 18px; margin: 4px 16px; color: white;">Friends</label>
                <div class="FriendList" style="margin-left: 2px; width: 166px; height: 167px; overflow-y: hidden;">
                    @foreach (FaceSpam_social_media.DbModels.User friend in Model.friends)
                    {
                        <img src=@friend.ImageReference class="PostEllipse" style="width: 49px; height: 49px;" />
                    }
                </div>
                @using (Html.BeginForm("Friends", "Home", FormMethod.Post))
                {
                    <input type="submit" class="Button" style="padding: 5px 20px;" value="more..." />
                }
            </div>
        </div>

        <div class="MainPanel" style="margin-left: 30px;">
            <div class="Info">
                <label style="font-size: 32px; margin: 4px 16px; color: white;">@username</label>
                <br />
                <label style="font-size: 18px; margin: 4px 16px; color: #B9B9B9;">@description</label>
            </div>

                @using (Html.BeginForm(FormMethod.Post))
                {
                    <div class="Dashboard">
                        @*Now textbox can send input data to controller and then clear it on widget*@
                        @Html.TextBoxFor(model => model.message, new { autocomplete = "off", Class = "Post" })
                        <div style="margin-bottom: 5px; display: inline-block; vertical-align: middle;">
                            <input type="submit" class="PostButtons" formaction="/Home/SelectFile" value="File" />
                            <input type="submit" class="PostButtons" formaction="/Home/AddPost" value="Write" />
                        </div>
                        <hr class="HorizontalLine" />
                        <div class="DashboardList">
                            @foreach (FaceSpam_social_media.DbModels.Post post in Model.user.Posts)
                            {
                                <div class="PostMessage">
                                    <img src="@Model.user.ImageReference" class="PostEllipse" />
                                    <label style="position: relative; font-size: 18px; color: #3485FF;">@username</label>
                                    <br />
                                    <label class="PostText">@post.Text</label>
                                    <div style="background-color:transparent; height:50px;">
                                        <div class="Likes" style="display: inline-block;">
                                            @if (Model.CheckLike(Model.user.UserId, post.PostId))
                                            {
                                                <img src="~/images/heartRed.svg" class="HeartImage" id="@post.PostId" />
                                            }
                                            else
                                            {
                                                <img src="~/images/heart.svg" class="HeartImage" id="@post.PostId" />
                                            }
                                            <label class="LikeLabel">@Model.CountLikes(post.PostId)</label>
                                        </div>
                                        <img src="~/images/pencil.svg" style="display: inline-block; margin-left: 10px;" />
                                        <label style="position: relative; display: inline-block; font-size: 12px; color: #3485FF;">comments 0</label>
                                        <label class="Date">@post.DatePosting.ToString("dd.MM.yy")</label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                 }
        </div>      
    </div>
</body>
