@model MessagesForm
@{
    string[] controllers = { "Main", "Messages", "Groups", "Games", "Shop", "Settings" };
    string a = "";
}

<!--HEHE BOI (~w~)-->
<!--JS scripts with using jQuery and ajax-->
<!--Kakaya shlyapa-->
<!--8 realtime hours wasted for adding this functionality-->
<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/scripts/MessagesScripts.js" asp-append-version="true"></script>

<body>
    <link href="~/css/Navigation.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MessagesStyleSheet.css" asp-append-version="true" />
    <link href="~/css/BackgroundAnimationStyle.css" rel="stylesheet" asp-append-version="true" />

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="Wrapper">
        <div class="Navigation">
            @foreach (string controller in controllers)
            {
                @using (Html.BeginForm(controller, "Home", FormMethod.Post))
                {
                    <input type="submit" class="Button" value=@controller />
                }
            }

            <div class="AdvertisementText">
                Advertisement
            </div>

            <div>
                <div class="AdvertisementImage">
                    <img src="~/Images/AdvertisementTest.png" />
                </div>
            </div>
        </div>

        <div class="Chat">
            <div class="ChatMessages" id="Chat">
                <label style="margin-top: 50%; margin-left: 30%; color: dimgrey;">Select chat to write messages</label>
            </div>
            <hr class="Line" />
            <div class="MessageArea">
                <div class="UserImageDiv">
                    <img src="~/images/W1ld 3lf.jpg" class="UserImage" />
                </div>
                @Html.TextAreaFor(model => model.message, new { autocomplete = "off", Class = "MessageTextBox" })
                <input type="submit" class="ButtonSend" formaction="/Home/SendMessage" value="Send" />
            </div>
        </div>

        <div class="Groups">
            <div class="SearchField">
                <input type="text" class="SearchTextBox" />
                <img src="~/images/searchImg.png" class="SearchImage" />
            </div>
            <div class="GroupsList" id="groups">
                @foreach (FaceSpam_social_media.Infrastructure.Data.Chat chat in Model.chats)
                {
                    <div class="GroupPanel" id="@chat.ChatName">
                        <img src="@chat.ImageReference" class="Ellipse" />
                        <label class="GroupName" id="@chat.ChatId">@chat.ChatName</label>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
