@model MessagesForm
@{
    string[] controllers = { "Main", "Messages", "Groups", "Games", "Shop", "Settings" };
}

<!--HEHE BOI (~w~)-->
<!--JS scripts with using jQuery and ajax-->
<!--Kakaya shlyapa-->
<!--8 realtime hours wasted for adding this functionality-->
<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/scripts/MessagesScripts.js" asp-append-version="true"></script>
<script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
<link href="~/css/Navigation.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="~/css/MessagesStyleSheet.css" asp-append-version="true" />
<link href="~/css/BackgroundAnimationStyle.css" rel="stylesheet" asp-append-version="true" />

<script type="text/javascript">
    var selectedChat = @Model.currentChat;
    var chatAdmin = @Model.selectedChat.Admin;
    var members = @Model.members.Count;
    var userId = @Model.user.Id;
    var jsUser = @Html.Raw(Json.Serialize(Model.user));

    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/messagehub")
        .build();

    hubConnection.on("Send", function (messageId, message, userName, image, messageChatId) {
        if (selectedChat == messageChatId) {
            GetMessageObj(messageId, userName, image, GetTime(), message);
        }
    });

    hubConnection.on("Remove", function (messageId) {
        RemoveMessage(messageId);
    });

    hubConnection.start();
</script>

<body>

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="Wrapper">
        <div class="Navigation">
            @foreach (string controller in controllers)
            {
                @using (Html.BeginForm(controller, "Home", FormMethod.Post))
                {
                    <button type="submit" class="Button" value="@Model.user.Id" name="executorId">@controller</button>
                }
            }
            @if (Model.user.IsAdmin == true)
            {
                @using (Html.BeginForm("Admin", "Home", FormMethod.Post))
                {
                    <button type="submit" class="Button" value="@Model.user.Id" name="executorId">Admin</button>
                }
            }
            <div class="AdvertisementText">
                Advertisement
            </div>

            <div>
                <div class="AdvertisementImage">
                    <img src="~/Images/AdvertisementTest.png" />
                </div>
            </div>
        </div>

        <div class="Chat">
            <div class="ChatMessages" id="Chat">
                @if (Model.currentChat != 0)
                {
                    @foreach (var message in Model.chatMessages)
                    {
                        <div class="MessageBody"  id="@("Message_" + message.Id)">
                            <img src="@message.UserUser.ImageReference" class="Ellipse" style="width: 50px; height: 50px;" />
                            <label class="MessageNickName">@message.UserUser.Name<label class="MessageDate">@message.DateSending.ToString("d/M/yyyy H:m")</label></label>
                            @if (message.UserUserId == Model.user.Id)
                            {
                                <img src="../images/removeButton.png" class="RemoveMessage" id="@message.Id" />
                            }
                            <br /><label class="MessageText">@message.Text</label>
                        </div>
                    }
                }
                else
                {
                    <label style="margin-top: 50%; margin-left: 30%; color: dimgrey;">Select chat to write messages</label>
                }
            </div>
            <hr class="Line" />
            <div class="MessageArea">
                <div class="UserImageDiv">
                    <img src="@Model.user.ImageReference" class="UserImage" />
                </div>
                @Html.TextAreaFor(model => model.message, new { autocomplete = "off", Class = "MessageTextBox" })
                <input type="submit" class="ButtonSend" value="Send" />
            </div>
        </div>
        <div>
            <div class="GroupInfo">
                <div class="ImageNameGroup">
                    @if (Model.selectedChat != null)
                    {
                        <div class="GroupImage" style="background-image: url('@Model.selectedChat.ImageReference')"></div>
                        <label class="GroupPanelName">@Model.selectedChat.ChatName</label>
                    }
                    else
                    {
                        <div class="GroupImage"></div>
                        <label class="GroupPanelName"></label>
                    }
                </div>
                @if (Model.selectedChat != null)
                {
                    <label class="GroupDescription">@Model.selectedChat.Description</label>
                }
                else
                {
                    <label class="GroupDescription"></label>
                }
                <div class="GroupStatus">
                    <div class="MembersIcon">
                        <img src="~/Images/people.svg" class="MembersImage" />
                        <div class="MembersCounter">@Model.members.Count</div>
                    </div>
                    <input type="submit" class="QuitGroup" value="Quit" />
                </div>
            </div>

            <div class="Groups">
                <div class="SearchField">
                    <input type="text" class="SearchTextBox" />
                    <img src="~/images/searchImg.png" class="SearchImage" />
                </div>
                <div class="GroupsList" id="groups">
                    @foreach (FaceSpam_social_media.Infrastructure.Data.Chat chat in Model.chats)
                    {
                        if (Model.currentChat != chat.Id)
                        {
                            <div class="GroupPanel" id="@chat.ChatName">
                                <img src="@chat.ImageReference" class="Ellipse" />
                                <label class="GroupName" id="@chat.Id">@chat.ChatName</label>
                            </div>
                        }
                        else
                        {
                            <div class="GroupPanel active" id="@chat.ChatName">
                                <img src="@chat.ImageReference" class="Ellipse" />
                                <label class="GroupName" id="@chat.Id">@chat.ChatName</label>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="Popup">
        <div class="PopupNavigation">
            <input type="submit" class="InviteButton" value="Invite">
            <label style="color: #3485FF; font-weight: 600; font-size: 24px; margin-left: 10px;">Chat members</label>
            <img src="~/images/removeButton.png" style="margin: 5px 5px; width: 30px; height: 30px;" id="ClosePopup" />
        </div>
        <div class="MembersList">
        </div>
    </div>
</body>
